<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{admin/layout/header::header}"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div th:replace="~{admin/layout/sidebar::sidebar}"></div>
    </div>
    <div class="col-md-10">
      <div th:insert="~{admin/content/resources/resourcesdetailscontent}"></div>
    </div>
  </div>
</div>

<div th:replace="~{layout/footer::footer}"></div>

</body>
</html>