<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <style>
        .movie {
            margin-bottom: 20px;
        }
        .movie img {
            max-width: 150px;
        }
        .buttons {
            margin-bottom: 20px;
        }
        .buttons button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Movie List</h1>

<!-- 버튼 목록 -->
<div class="buttons">
    <button onclick="location.href='/movies/popular'">인기 영화</button>
    <button onclick="location.href='/movies/latest'">최신 영화</button>
    <button onclick="location.href='/movies/now-playing'">현재 상영 중</button>
    <button onclick="location.href='/movies/upcoming'">곧 개봉할 영화</button>
    <button onclick="location.href='/movies/korean'">높은 평점 영화</button>
    <button onclick="location.href='/movies/foreign'">높은 평점 영화</button>
</div>

</body>
</html>