<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Popular Movies</title>
    <style>
        .movie {
            margin-bottom: 20px;
        }
        .movie img {
            max-width: 150px;
        }
    </style>
</head>
<body>
<h1>Popular Movies</h1>
<ul>
    <!-- 영화 목록 순회 -->
    <li th:each="movie : ${movies}" class="movie">
        <!-- 영화 세부 정보 페이지로 이동하는 링크 (ID 포함) -->
        <a th:href="@{/movies/{id}(id=${movie['id']})}">
            <h2 th:text="${movie['title']}">Movie Title</h2>
            <img th:src="'https://image.tmdb.org/t/p/w200' + ${movie['poster_path']}" th:alt="${movie['title']}"/>
        </a>
        <p th:text="${movie['overview']}">Movie Overview</p>
        <p>Release Date: <span th:text="${movie['release_date']}"></span></p>
        <p>Average Vote: <span th:text="${movie['vote_average']}"></span></p>
    </li>
</ul>
</body>
</html>