<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <style>
        .movie-details {
            margin: 20px;
        }
        .movie-details img {
            max-width: 300px;
        }
    </style>
</head>
<body>
<div class="movie-details">
    <h1 th:text="${movie['title']}">Movie Title</h1>
    <img th:src="'https://image.tmdb.org/t/p/w300' + ${movie['poster_path']}" th:alt="${movie['title']}"/>
    <p th:text="${movie['overview']}">Movie Overview</p>
    <p>Release Date: <span th:text="${movie['release_date']}"></span></p>
    <p>Average Vote: <span th:text="${movie['vote_average']}"></span></p>
    <a th:href="@{/movies}">Back to Movies</a>
</div>
</body>
</html>